@import "_breakpoints.scss";
@import "_variables.scss";



@media only screen and (max-width: $breakpoint-old-monitors) {
  #nav {
    position: fixed;
    width: 100%;
    height: 100px;
    .nav-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .profile-img {
        margin: 0;
        width: 80px;
        height: 80px;
        margin-left: 70px;
        border-radius: 3px;
      }
      .btn-nav {
        flex-direction: row;
        margin: 0;
        gap: 15px;
        margin-right: 20px;
        button {
          font-size: 1.1rem;
          margin: 0;
        }
      }
    }
  }

  .about {
    .fake-about {
      font-size: 24rem;
      left: -120px;
      top: 80px;
    }
  }

  .education {
    margin-bottom: 30px;
    .fake-education {
      font-size: 24rem;
      top: 70px;
    }
  }

  .skills-content {
    .fake-sentence {
      font-size: 18rem;
      left: -52px;
      top: 93px;
    }
  }
  .contacts-container {
    .fake-contacts {
      font-size: 17rem;
    }
  }
  #separator {
    display: inline-block;
    height: 100px;
  }
  #main {
    margin: 0;
  }
  #footer-container {
    margin: 0;
  }
}


@media only screen and (max-width: $breakpoint-tablet) {
  #nav {
    position: fixed;
    width: 100%;
    height: 100px;
    .nav-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .profile-img {
        margin: 0;
        width: 80px;
        height: 80px;
        margin-left: 70px;
        border-radius: 3px;
      }
      .btn-nav {
        flex-direction: row;
        margin: 0;
        gap: 5px;
        margin-right: 10px;
        button {
          font-size: 1.1rem;
          margin: 0;
        }
      }
    }
  }
  #separator {
    display: inline-block;
    height: 100px;
  }
  .about {
    .fake-about {
      font-size: 18rem;
      left: -120px;
      top: -10px;
    }
  }
  .education {
    margin-bottom: 30px;
    .fake-education {
      font-size: 18rem;
      top: 70px;
    }
  }

  #skills-section {
    margin-bottom: 30px;
    .skills-container {
      flex-direction: column;
      .tech-skills {
        margin-bottom: 30px;
      }
    }
  }
  .skills-content {
    .fake-sentence {
      font-size: 13rem;
      left: -52px;
      top: 93px;
    }
  }
  .contacts-header {
    margin-bottom: 20px;
  }
  .contacts-container {
    .box h6 {
      font-size: 1.07rem;
    }
    .fake-contacts {
      font-size: 13rem;
      left: -95px;
    }
  }
  #main {
    margin: 0;
  }
  #footer-container {
    margin: 0;
  }
}

@media only screen and (max-width: $breakpoint-large-phone) {
  .nav {
    display: none;
  }
  #main {
    margin: 0;
  }
  .nav-container {
    margin: 0;
    position: fixed;
    background: #1d1d1d;
    width: 100%;
    z-index: 99;
    .responsive-nav {
      display: flex;
    }
  }
  #separator {
    display: flex;
    height: 50px;
  }

  .head-content {
    .head-content-top {
      margin-left: 70px;
    }
  }
  #about-responsive {
    margin-bottom: 70px;
  }
  .about {
    .fake-about {
      font-size: 14rem;
      left: -120px;
    }
  }
  #education-responsive {
    margin-bottom: 30px;
  }
  .education {
    .education-header {
      margin-bottom: 20px;
    }
    .fake-education {
      font-size: 14rem;
      top: 70px;
    }
  }
  .skills-content {
    .fake-sentence {
      font-size: 11rem;
      left: -52px;
      top: 93px;
    }
  }
  .skills-container {
    flex-direction: column;
  }
  .skill-bars {
    margin-bottom: 20px;
  }
  .contacts-container {
    .fake-contacts {
      font-size: 10rem;
      left: -66px;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    .input {
      width: 100%;
    }
    .inputs-text {
      flex-direction: column;
      width: 400px;
      .inputs {
        .form-input.subject {
          margin-bottom: 0;
        }
        button {
          display: none;
        }
      }
      .responsive-btn {
        display: inline-block;
        width: 50%;
        margin-bottom: 0;
      }
    }
    .textarea {
      width: 100%;
    }
  }
  #footer-container {
    margin: 0;
  }
}

@media only screen and (max-width: $breakpoint-iphone-promax) {
  html {
    font-size: 10px;
  } 
    
}