
/* Education section */
.education {
    margin-bottom: 100px;
    position: relative;
}
.education-header {
    margin-left: 70px;
    margin-bottom: 60px;
}
.education-header h2 {
    font-size: 4rem;
    color: #08fdd8;
    opacity: 0.7;
}
.education-content {
    display: flex;
    justify-content: space-around;
    /* margin-left: 70px;
    margin-right: 70px; */
}
.fake-education {
    position: absolute;
    font-size: 30rem;
    font-family: 'Montserrat', sans-serif;
    color: #6b6b6b;
    z-index: -1;
    opacity: 0.1;
    font-weight: bold;
    
    top: 20px;
}
    /* card styles */

.card {
    /* background-color: #d3d0ce; */
    border: 1px solid rgb(141, 141, 141);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: justify;
    margin: 15px;
    border-radius: 10px;
    color: white;
    opacity: 0.8;
}

/* card header ---img */

/* .card-header-one {
    background-image: url('../images/html-css-js-bw.jpg');
    background-size: cover;
    background-position: center;
    height: 220px;
    margin: 20px;
}
.card-header-two {
    background: url('../images/java-bw.jpg');
    background-size: cover;
    background-position: center;
    height: 220px;
    margin: 20px;
} */
.card-content {
    margin-left: 20px;
    margin-right: 20px;
}
.card ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
    margin-bottom: 10px;
    
}
.card-content h3 {
    font-size: 1.5rem;
}

.card-content a {
    display: inline-block;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.card-content h4 {
    margin-bottom: 10px;
    
}
.card-content ul li {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.card-open {
    margin-left: 70px;
}
.card-closing {
    margin-left: 70px;
}

/* Skills section */
.skills-section-container {
    margin-bottom: 70px;
}
.skills-content {
    position: relative;
}
.fake-sentence {
    color: #6b6b6b;
    font-size: 20rem;
    opacity: 0.1;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    top: 50px;
}
.skills-header {
    margin-left: 70px;
    margin-bottom: 60px;
}
.skills-header h2 {
    font-size: 4rem;
    color: #08fdd8;
    opacity: 0.7;
}
/* skills bar */
.skill-bar {
    width: 100%;
    background-color: rgb(186, 186, 186);
    border-radius: 5px;
    margin-bottom: 10px;
}
.bar {
    width: 1%;
    height: 30px;
    background-color: #0bbea3;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.bar-percent {
    float: right;
    color: rgb(0, 0, 0);
    
}
/* /skills bar */

.skills-container {
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.card-skills {
    flex: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header h3 {
    color: white;
    font-size: 2rem;
    opacity: 0.7;
}
.skills-card-content {
    font-size: 1.2rem;
}
.skills-card-content ul {
    list-style: none;
    padding: 0;
}
.skills-card-content p {
    font-size: 1.5rem;
}