html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #1d1d1d;
}
* {
    box-sizing: border-box;
}

                /* Fonts */

/*  font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif; 
*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;   
}
a {
    text-decoration: none;
}


.tags {
    color: rgb(134, 134, 134);
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

p::first-letter {
    font-size: 3rem;
}


/* main content */
/* Heading */

.main {
    margin-left: 202.23px;
} 

.head-content {
    text-align: center;
}
.head-content-top {
    margin-bottom: 30px;
}
.head-content-bottom {
    margin-bottom: 70px;
}
.head-content h1 {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    color: #ffffff;
    text-align: justify;
}
.letter-o {
    font-size: 7.5rem;
    color: #fd2155;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -3px -3px #08fdd8;
}
.head-content h2 {
    position: relative;
    display: inline-block;
    font-style: italic;
    color: rgb(240, 240, 240);
    opacity: 0.7;
    text-align: justify;
}
.top-tags {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.body-tag {
    margin-left: 20px;
    margin-top: -10px;
} 
.h-one-tag {
    position: absolute;
    top: -6px;
} 
.h-one-closing-tag {
    position: absolute;
    left: 0;
    bottom: -8px; 
}
.front-end {
    position: absolute;
    top: -25px; 
}
.front-end-closing {
    position: absolute;
    left: 0px;
    bottom: -25px;
}
