html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: rgb(43, 43, 43);
}
                /* Fonts */

/*  font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif; 
*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



span {
    color: rgb(134, 134, 134);
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

p::first-letter {
    font-size: 3rem;
}


/* main content */
.main {
    margin-left: 270px;
    background-image: url('../images/zar.jpg');
    height: 2000px;
    background-size: cover;
    background-position: center;
}
.head-background {
    position: relative;
    height: 400px;

}
.head-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(101, 100, 100);
}
.head-content h1 {
    font-size: 6rem;
    font-family: 'Lobster', cursive;
}
.head-content h2 {
    font-style: italic;
}
.header-closing {
    position: absolute;
    bottom: 0;
    right: 0;
}
